@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Jockey+One&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Noto+Sans+Malayalam:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Notch:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .trail-element{
   position: absolute;
    width: 20px; 
    height: 20px; 
    background: linear-gradient(90deg, #106dbe3c); 
    border-radius: 50%;
    box-shadow: 0 0 10px #0ffcbd53, 0 0 20px #0ffcbd7a;
    pointer-events: none; 
    opacity: 1;
    transform: translate(-50%, -50%); 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

}   */
.circle {
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 2px solid white;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
}
html, body{
    overflow-x: hidden;
}
*{
    font-family: "Poppins", sans-serif;
}
/* --- Header & Navigation --- */
.nav{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80px;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   background-color: #106EBE;

}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navmenu{
    list-style: none;
    display: flex;
    margin: 0px;
}
.navmenu li {
    margin-left: 30px;
}

.navmenu li a {
    color: #F4F4F4;
    text-decoration: none;
    font-size:16px;
    font-family: "Poppins", sans-serif;
    
    padding: 5px 10px;
}

.navmenu li a:hover {
    color: #0FFCBE;
    border-bottom: 1px solid #0FFCBE;
}
.navbar-toggle{
    display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #0FFCBE;
    transition: all 0.3s ease-in-out;
}
.navbar-toggle.toggle .bar:nth-child(1){
transform: translateY(10px) rotate(45deg);
}
.navbar-toggle.toggle .bar:nth-child(2){
opacity: 0;
}
.navbar-toggle.toggle .bar:nth-child(3){
transform: translateY(-6px)rotate(-45deg);
}
/* --- Hero Section --- */
#hero{
    padding-top: 100px;
    background:#106EBE;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.container{
    max-width: 1200px;
    width: 120vw;
}
.hero-section{ 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    
}
.hero-content{
    width: 100%;
    height: 100%;
}
.greeting{
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    color: #F4F4F4;
}
.animated-text{
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    color: #F4F4F4;
    min-width: 280px;
}
.animated-text span{
    position: relative;
}
.animated-text span::before{
    content: "";
    color: #0FFCBE;
    font-weight: bolder;
    animation: words 20s infinite;
}
.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 15px);
    height: 100%;
    background-color: #106EBE;
    border-left: 2px solid #0FFCBE;
    right: -8px;
    top: 0;
    animation:animatedtext .8s infinite, typing 20s steps(14) infinite;
}
@keyframes animatedtext{
    to{
        border-left: 2px solid #106EBE;
    }
}
@keyframes words {
    0%,20%{
        content: "UI/UX Designer";
    }
    21%,40%{
        content: "Front-End Developer";
    }
     41%,60%{
        content: "UI/UX Designer";
    }
     61%,80%{
        content: "Front-End Developer";
    }
     81%,100%{
        content: "UI/UX Designer";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width:0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width:calc(100% + 15px);
    }
}

.description{
    font-size: 20px;
    color: #f4f4f4e3;
    margin-top: 15px;
}
.description span{
    color: #0FFCBE;
}
.cv-button{
    padding: 8px 15px;
background-color: #0FFCBE;
border:  none;
border-radius: 50px;
color: #106EBE;
font-size: 16px;
font-weight: bold;
}
.cv-button:hover{
    background-color: #F4F4F4;
    color: #106EBE;
}

/* --- Image and Socials --- */
.image-and-social-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cv-button-social{
    display: flex;
    gap: 20px;
    align-items: center;
    width: max-content;
}
.socail-name{
    font-size:25px;
}
.social-icon a:hover{
    color: #106EBE;
    background-color: #F4F4F4;
}
.profile-image img{
    width: 100%;
    height: 100%;
}
.social-icons {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #0ffcbd1b;
   border-radius: 10px;
}

.social-icons a {
    color:#0FFCBE;
    font-size: 24px;
    transition: color 0.3s;
     padding: 10px;
     border-radius: 10px;
}

.social-icons a:hover {
    background-color: #F4F4F4;
    color: #106EBE;
}
.floating-skills_container{
    width: 100%;
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
   background-color: #277CC4; 
    color: #F4F4F4;
    padding: 27px 0;
     display: flex; 
     gap: 20px;
}
.floating{
display: flex; 
gap: 30px;
     animation-duration: 14s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: marquee;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}
@keyframes marquee{
    0% {
    transform: translate3d(0, 0, 0);
}

100% {
    transform: translate3d(-100%, 0, 0);
}
}
.floating h1{
font-size: 20px;

}
/* about section */
#about-me{
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    background-image: url(img/hero\ banner\ img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about{
    width: 100%;
    display: inline-block;
}
.about h2{
 color: #F4F4F4;
 font-weight: bold;
 margin-bottom: 20px;

}
.about p{
    color: #f4f4f4e3;
    text-align: left;
    line-height: 30px;
    font-size: 18px;
    font-weight:380 ;
    margin: 0;
}
.social ul{
 list-style: none;
 display: flex;
 gap: 30px;
 padding: 0;
 margin-top: 20px;
}
.social li{
     display: flex;
     align-items: center;
     justify-content: center;
}
.social a {
    color:#0FFCBE;
    font-size: 24px;
    
}
.astronaut {
  animation: zeroGravity 5s ease-in-out infinite;
  display: block;
  margin: 0 auto;
}

@keyframes zeroGravity {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(1deg);
  }
  50% {
    transform: translateY(-20px) rotate(-1deg);
  }
  75% {
    transform: translateY(-10px) rotate(1deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
.social a:hover {
    color: #F4F4F4;
    transform:rotate(360deg);
    transition: 2s;
}
.skill-card{
    margin-left: 100px;
    justify-content: flex-end;
}
.skills h2{
 text-align: end;
 color: #F4F4F4;
 font-weight: bold;
 margin-bottom: 20px;
}

.skill{
    background-color: #277CC4;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    border: #277CC4 0.5px solid;
}
.skill:hover{
    border: #0FFCBE 0.5px solid;
}
.skill:hover img{
    transform: translatey(-50px)scale(1.3);
    transition: 2s;
    animation: shake 2s infinite;
}

@keyframes shake{
    10% {transform: none;}
    20% {transform: scale(1.05) rotate(5deg);}
    30% {transform: scale(1.05) rotate(-5deg);}
    40% {transform: scale(1.05) rotate(5deg);}
}
.skill img{
    width: 50px;
    height: 50px;
}
.skill span{
    font-size: 16px;
  color: #F4F4F4;
}
/* service section */
#services{
    padding: 100px 0px;
    background:#106EBE;
    text-align: center;
    width: 100%;
    height: 100%;
}
.section-headings{
 color: #F4F4F4;
 font-weight: bold;
 margin-bottom: 20px;
 padding: 0;

}
.caption{
    font-size: 16px;
    color:#f4f4f4bb;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
}
.my-service{
    background-color: #0ffcbd16;
    padding: 15px;
     border-radius: 15px;
     text-align: left;
     width: 100%;
     height: 100%;
     margin-top: 10px;
}
.my-service:hover{
border: 1px solid #0FFCBE;
}
.services-icon{
    display: flex;
    background-color:#003563;
    width: min-content;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.services-icon img{
    transition: .8s;
}
.my-service:hover .services-icon img{
 transform: rotate( 360deg );
}
.service-name{
    font-size: 20px;
    font-weight:700;
    margin-top: 10px;
 color:#F4F4F4;
}
.my-service p{
    color: #f4f4f4b3;
    font-size: 16px;
    font-weight: 300;
     margin-top: 10px;
}
#works{
    padding: 100px 0px;
    background:#106EBE;
    text-align: center;

}
.whatsapp{
    position: fixed;
    bottom: 50px;
  left: 0px;
    z-index: 5;
      animation-name: whatspp-ani;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.whatsapp img{
    width: 60px;
    margin-top: 10px;
    margin-left: 20px;
   
}
@keyframes whatspp-ani  {
  0%   { bottom:0px;}
  50%  { bottom:50px;}
  100% {  bottom:0px;}
}
/* .scroll-up img{
    width: 30px;
}.scroll-up {
   display: none; 
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #277CC4;
  box-shadow: 0px 0px 10px 0px #0FFCBE;
  color: white;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.scroll-up:hover {
  background-color:rgba(0, 0, 0, 0.59);
} */
.slide-img img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
   
}
.slide-img{
    padding: 20px;
}

.slide-img:hover{
padding: 0%;
transition: ease-in-out 0.8s;
cursor: pointer;
}
.work-sec{
    position: relative;
}
.arrow{
position: absolute;
left: 0px;
bottom: 40%;
z-index: 100;
border-radius: 10px;
background-color: rgba(0, 0, 0, 0.59);
padding: 20px;
 border: 2px solid  rgba(0, 0, 0, 0.59) ;
}
.arrows{
position: absolute;
border-radius: 10px;
background-color:  rgba(0, 0, 0, 0.59);
padding: 20px;
right: 0;
bottom: 40%;
 border: 2px solid  rgba(0, 0, 0, 0.59) ;
z-index: 100;
}
.arrows:focus{
    border: 2px solid #0FFCBE;
}
.arrow:focus{
    border: 2px solid #0FFCBE;
}
#Contact{
    padding: 100px 0px;
    background:#106EBE;
    text-align: center;
}
.get-in-touch h2{
 color: #F4F4F4;
 font-weight: bold;
 margin-bottom: 20px;

}
.get-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form-card {
    background: #277CC4;
    border-radius: 20px;
    color: #F4F4F4;
    padding: 30px;
    transition: var(--transition-smooth);
    width: 100%;
    height: 100%;
    margin-top: 20px;
    text-align: start;
}
.contact-form-card:hover{
    box-shadow: #0FFCBE 0px 0px 10px;
    border: #0FFCBE;
}
.contact-form-card h4{
    margin-bottom: 15px;
    color: #F4F4F4;
}
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;
    gap: 24px;
}
.form-group input, .form-group textarea {
    width: 100%;
    color: #F4F4F4;
    padding: 12px;
    background-color:#18609E;
    border-width: 0.0625rem;
    border-style: solid;
    border-color: rgba(34, 39, 47, 0.5);
    border-image: initial;
    border-radius: 10px;
    transition: var(--transition-smooth);
}
.form-group textarea::placeholder{
    color: #f4f4f4d3;
    font-size: small;
}
.form-group input::placeholder{
    color: #f4f4f4d3;
    font-size: small;
}
.form-group label {
    display: block;
    
    text-align: start;
    margin-bottom: 8px;
}
.form-group{
    margin-bottom: 24px;
}
.contact-form-card span{
    color: #f4f4f4d2;
}
.send-btn{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    justify-content: center;
    gap: 8px;
    padding: 15px 24px;
    background-color: #0FFCBE;
    border-radius: 10px;
    text-decoration: none;
    border: none;
}
.send-btn:hover{
    background-color: #F4F4F4;
    color: #106EBE;
}
.btn-full {
    width: 100%;
    justify-content: center;
}
/* footer */
footer{
    background-color: #106EBE;
    border-top: 1px solid #277CC4;
    padding: 50px 0px;
     z-index: 12;
    position: relative;
    width: 100%;
}
.footer-navigation{
    text-align: center;
}
.footer-navigation .rights{
    color: #f4f4f4d0;
}
.footer-navigation hr{
    border: 1px solid #F4F4F4;
    margin-top: 20px;
}
.icon-social-media{
    text-align: start;
}
.quick-links h4{
    color: #F4F4F4;
    margin-bottom: 20px;
    text-align: start;
}
.contact-hed{
    color: #F4F4F4;
    margin-bottom: 20px;
    text-align: start;
}
.footer-nav{
    list-style: none;
    display: flex;
    margin: 0px;
    flex-direction: column;
    gap: 20px;
    text-align: start;
    padding: 0%;
}
.contact-icon{
    display: flex;
    gap: 10px;
}
.contact-me{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #0FFCBE;
}
.footer-nav li a {
    color: #0FFCBE;
    text-decoration: none;
    font-size:16px;
    font-family: "Poppins", sans-serif;
    padding: 5px 10px;
     border: 1px solid transparent;
     transition: 0.3s;
}
.footer-nav li a:hover {
    color: #F4F4F4;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
}

